﻿@{
    ViewData["Title"] = "Home Page";
}

@model List<WebApplication1.Models.Student>


<h1 class="text-center text-primary" >Student Data</h1>


<br />
<br />
<br />



<table class="table table-striped border">
    <tr class="table-primary">
        <th>
            <label>First Name</label>
        </th>
        <th>
            <label>Last Name</label>
        </th>
        <th>
            <label>Email</label>
        </th>
        <th>
            <label>Contact</label>
        </th>
        <th>
            <label>State</label>
        </th>
        <th>
            <label>City</label>
        </th>
        <th>
            <label>Address</label>
        </th>
        <th>

        </th>
    </tr>


    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(m => item.firstName)
    </td>
    <td>
        @Html.DisplayFor(m => item.lastName)
    </td>
    <td>
        @Html.DisplayFor(m => item.email)
    </td>
    <td>
        @Html.DisplayFor(m => item.mobile)
    </td>
    <td>
        @Html.DisplayFor(m => item.state)
    </td>
    <td>
        @Html.DisplayFor(m => item.city)
    </td>
    <td>
        @Html.DisplayFor(m => item.address)
    </td>
</tr>
            }
    </table>
