﻿@{
    ViewData["Title"] = "Home Page";
}

@model List<WebApplication1.Models.Student>

    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h1 class="text-center text-info mb-4">Registration form</h1>
            <div class="card">
                <div class="card-body">
                    
                    <form method="post">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>


                        <div class="form-group">
                            <label asp-for="Student.firstName" >First Name</label>
                            <input asp-for="Student.firstName" class="form-control" name="firstName">
                            <span asp-validation-for="Student.firstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Student.middleName" >Middle Name</label>
                            <input asp-for="Student.middleName" class="form-control" maxlength="25">
                            <span  asp-validation-for="Student.middleName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Student.lastName" >Last Name</label> <br />
                            <input asp-for="Student.lastName" class="form-control" maxlength="50">
                            <span asp-validation-for="Student.lastName" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Student.email">Email address</label>
                            <input asp-for="Student.email" class="form-control">
                            <span asp-validation-for="Student.email" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Student.password">Password</label>
                            <input asp-for="Student.password" class="form-control">
                            <span asp-validation-for="Student.password" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Student.confirmPassword" >Confirm Password</label>
                            <input asp-for="Student.confirmPassword" class="form-control">
                            <span asp-validation-for="Student.confirmPassword" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Student.mobile" >Mobile Number</label>
                            <input asp-for="Student.mobile" class="form-control"  maxlength="10">
                            <span asp-validation-for="Student.mobile" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Student.state" >State</label>
                            <input asp-for="Student.state" class="form-control" maxlength="100">
                            <span asp-validation-for="Student.state" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <label asp-for="Student.city" >City</label>
                            <input asp-for="Student.city" class="form-control" maxlength="10">
                            <span asp-validation-for="Student.city" class="text-danger"></span>

                        </div>

                        <div>
                            <label>Gender</label> <br />
                            <input type="radio" id="male" name="gender" value="male">
                            <label>Male</label><br>
                            <input type="radio" id="female" name="gender" value="female">
                            <label>Female</label><br>
                            <input type="radio" id="other" name="gender" value="other">
                            <label>Other</label> <br /> <br />
                        </div>

                        <div class="form-group">
                            <label asp-for="Student.higherEducation" >Higher Education</label> <br />
                            <select class="form-control" asp-for="Student.higherEducation">
                                <option value="none">Select</option>
                                <option>High School</option>
                                <option>Intermediate</option>
                                <option>Graduate</option>
                                <option>Post Graduate</option>
                                <option>Doctarate</option>
                                <option>Post Docs</option>
                            </select>
                            <span asp-validation-for="Student.higherEducation" class="text-danger"></span>

                        </div>

                        <input type="radio">
                        <label>Subscribe for email</label> <br /> <br />

                 <div class="form-group">
                <label asp-for="Student.address" >Address</label> <br />
                 <textarea asp-for="Student.address" class="form-control" rows="10" cols="40"></textarea> <br /> <br />
                      <span asp-validation-for="Student.address" class="text-danger"></span>

                     </div>

                        <div class="text-center">
                            <button class="btn-success p-1" type="submit" onclick="handleSubmit()">Submit</button> &nbsp;
                            <button class="btn-danger p-1" type="reset">Reset</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div>
        <div class="col-lg-10 mx-auto">
            <h1 class="text-center text-success">Dashboard</h1> <br /><br /><br /><br /><br />


            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">State</th>
                        <th scope="col">City</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Address</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                    </tr>


                    @foreach(var data in Model)
      {
                    <tr>
                        <td>@data.id</td>
                        <td>@data.firstName</td>
                        <td>@data.lastName</td>
                        <td>@data.email</td>
                        <td>@data.state</td>
                        <td>@data.city</td>
                        <td>@data.mobile</td>
                        <td>@data.address</td>
                        <td> <button class="btn-success">Edit</button> </td>
                        <td> <button class="btn-danger" onclick="return confirm('Are you sure you want to delete?')" >Delete</button> </td>


                    </tr>

      }
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>



   @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
